extends ../layout
//include ../mixins/form-helpers

block content
  .container
    .jumbotron.hero-spacer
      .h2 ¿Sabías que todos podemos aprender música en Medellín?
      .h3 Si tienes entre 7 y 18 años, y eres de los que sigue el ritmo con los pies cuando escuchas una canción, esto puede interesarte:
      .h4 Medellín vive la música te ofrece el espacio para encontrarte con otras personas como tu que quieren crear su propio ritmo.
      .p <br>
      .h4 Acércate a tu sede más cercana y participa de nuestros encuentros de música, ensamble y creación. Asiste a tu primera clase y empieza tu travesía con nosotros en el universo Medellín Vive la Música.
        .h3 Sedes disponibles:
        .col-md-12
          select.selectpicker.col-md-12(name="nodos", value="", data-live-search="true", data-container="body")
            - each nodo in nodos
              option(data-id=nodo.id) #{nodo.nombre}
